
.page {
  color: var(--text-color);
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;

  /* clamp используется чтобы плавно перейти от 10px к 20px, 2.7vi подходит к 20 почти на брейкпоинте в 768px и дает плавный переход */

  padding: clamp(10px, 2.7vi , 20px) clamp(10px, 2.7vi , 20px);
  block-size: 100vb;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: '';
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  align-self: baseline;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--decoration-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  grid-column: 1;
  grid-row: 3;
  justify-self: start;
  align-self: last baseline;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--decoration-color);
  inline-size: 25px;
  block-size: 25px;
}

.rec {
  position: absolute;
  display: var(--rec-display);
  vertical-align: middle;
  color: var(--accent-color);
  text-transform: uppercase;
  inset-block-start: clamp(10px, 2.7vi , 20px);
  inset-inline-end: clamp(19px, 5vi , 29px);
}

.rec::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  grid-column: 1;
  grid-row: 1;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
  color: var(--button-color);
  line-height: 100%;
  text-align: center;
  background-color: transparent;
  max-block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  border-color: var(--button-color);
  pointer-events: none;
}

.header__title {
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
  color: var(--title-color);
  line-height: 82.5%;
  text-shadow: 4px 4px var(--accent-color);
}

.header__text {
  grid-column: 1;
  grid-row: 3;
}

.accent-text {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: clamp(50px, 11vi,80px);
  padding: clamp(40px, 10vi, 60px) clamp(10px, 2.7vi , 20px) 0;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--article-title-color);
  font-size: var(--font-size);
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 10px;
}

.article__title {
  font-weight: 400;
}

.article__title,
.image_section__title,
.section__subtitle {
  font-size: var(--font-size);
}

.article__text__link {
  text-decoration: none;
  text-shadow: 1px 1px var(--accent-color);
}

.article__text__link:hover {

  /* text-decoration: underline получает такую же тень как и текст, чтобы это обойти использован border */

  border-bottom: 1px solid var(--text-color);
}

.article__text__link:focus {
  outline: none;
}

.article__text__link:focus-visible {
  outline: 1px solid;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image_section {
  padding-bottom: clamp(40px, 10vi, 60px);
}

.image_section__title {
  grid-column: 1/-1;
  grid-row: 1;
}

.image {
  object-fit: cover;
  inline-size: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: clamp(10px, 2.7vi , 20px) clamp(10px, 2.7vi , 20px);
  block-size: 100vb;
  min-block-size: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--title-color);
  line-height: 82.5%;
  text-shadow: 2px 2px var(--accent-color);
}

.bold {
  font-weight: 700;
}

@media (width < 768px) {

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vi, 7.5rem);
  }

  .header__text {
    max-inline-size: 364px;
  }

  .image_section {
    gap: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vi, 7.5rem);
  }
}

@media (768px <= width) {

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vi, 9.8125rem);
  }

  .header__text {
    inline-size: 50%;
    max-inline-size: 491px;
  }

  .tall-article, .wide-article {
    grid-template-columns: 1fr 2fr;
  }

  .flex-wrapper {
    grid-column: 1/-1;
  }

  .tall-article .section__title {
    grid-column: 1;

  /* grid-row-end: -1 не работает для неявных ячеек грида, поэтому занять всю левую колонку не выйлет.
  Занял минимально необходимое место для подзаголовка, но добавится отступ, если секций будет меньше двух */

    grid-row-start: 1;
    grid-row-end: 3;
  }

  .section__subtitle,
  .article-tall {
    grid-column: 2;
  }

  .image_section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-auto-flow: row dense;
    gap: 20px;
  }

  .image {
    block-size: 100%;
  }

  .landscape {
    grid-column: span 2;
  }

  .portrait {
    grid-row: span 2;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vi, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .tall-article, .wide-article {
    grid-template-columns: 1fr 2.06fr;
  }

  .flex-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .article-wide {
    flex-grow: 1;
    inline-size: calc((100% - 40px) / 3);
  }

}
