/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --font-size: 18px;
  --font-family: 'IBM Plex mono';
  --text-color: #f1b2ce;
  --line-height: 23.4px;
}
